<h3>El carrito N°: {{id}}</h3>

<h6>Productos:</h6>
<li>
{{#each products}}
    <u>
        <p>Producto: {{this.name}} 
            stock: {{this.stock}}
            precio: {{this.precio}} </p>
    </u>
{{/each}}
</li>
